.contact-container {
    display: flex;
    flex-direction: row;
    height:calc(100vh - 74px);  
    background-image: url("../images/background_image.png");
    align-items: center;
    justify-content: center;
    background-color: #dad5ed;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}

.hi { 
    font-size: 5rem;
    display: inline-block; 
    font-family: "Raleway", serif;
    color:#7e6b9f;
    padding: 20px
}

.project { 
    font-size: 2rem;
    padding: 0;
    font-family: "Raleway", serif;
    color: #7e6b9f
}

.social {
    color:#7e6b9f;
    margin-left: 20px;
}

.socials { 
    display: flex;
    flex-direction: row;
}

.semicircle {
    width: 600px; 
    height: 500px; 
    background-color: #dad5ed;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.socials-container { 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap:20px;
    display: flex;
    flex-direction: column;
}

.hi, .wave-emoji {
    display: inline-block; 
    vertical-align: middle; 
    font-size: 50px; 
}

.wave-emoji {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(14deg);} 
    20% {transform: rotate(-8deg);}
    30% {transform: rotate(14deg);}
    40% {transform: rotate(-4deg);}
    50% {transform: rotate(10deg);}
    60% {transform: rotate(0deg);} /* Reset for the last half to pause */
    100% {transform: rotate(0deg);}
}

.photo {
    z-index: 2;
}

.rectangle-contact {
    position: absolute; 
    width: 700px; 
    height: 500px;
    background-color: #FF9A8B;
    z-index: 0;
    right: 70%;
    bottom: 37%;
    overflow-x: hidden;
}