.home-container {
    display: flex;
    height: 100vh;  
    background-color: #7e6b9f;
    justify-content: center;
    align-items: center;
    padding:0;
}

* {
    color: white;  
    font-family: "Raleway", serif;

}

h1 { 
    font-size: 7rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Chewy', sans-serif;
    letter-spacing: 3px; 
    margin-top: 0%;
    margin-left: 40px;
    text-shadow: 
      0.5px 0.5px 4px #FF9A8B,
      -0.5px -0.5px 4px #FF9A8B,
      0.5px -0.5px 4px #FF9A8B,
      -0.5px 0.5px 4px #FF9A8B; 
}

h2 { 
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
}

.description {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

.container-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    text-align: center;
    margin-left: 300px;
}

.container-izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    text-align: center;
    position: relative
}

.welcome { 
    margin: 0px
}

.home-container-2 {
    display: flex;
    flex-direction: column;
    height:100vh;  
    background-color: #dad5ed;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.about-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-perfil { 
    width: 900px; 
    height: auto;
    justify-content: center;
    align-items: center; 
    background-color: #dad5ed;
    border-radius: 30px; 
    padding: 60px
}

h3 {
    font-family: "Raleway", serif;
    text-align: justify;
    margin-left: 15px;
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 
      0.5px 0.5px 4px #FF9A8B,
      -0.5px -0.5px 4px #FF9A8B,
      0.5px -0.5px 4px #FF9A8B,
      -0.5px 0.5px 4px #FF9A8B; 
}

.perfil {
    text-align: justify;
    font-size: 1.5rem;
}

.text-container { 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.perfil {
    font-size: 1.5rem;
    color:#7e6b9f;
    text-shadow: none;
}

.about { 
    font-size: 5rem;
    text-shadow: none;
    color:white;
    line-height: 0px; /* Ajusta el texto verticalmente para alinearse con el contenedor */
}

.title { 
    width: 700px; 
    height: 40px;
    background-color: #FF9A8B;
}

.rectangle-hobbies { 
    width: 1000px; 
    height: auto;
    background-color: #7e6b9f; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 15px;    
    padding-bottom: 20px;
    margin-left: 80px;
    position: relative;
    top: 30%; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.hobby-1, .hobby-2 { 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    gap: 40px
}

.hobby {
    text-shadow: none;
}

.rectangle-home {
    position: absolute; 
    width: 500px; 
    height: 230px;
    background-color: #FF9A8B;
    z-index: 1;
    top: 50%;
}

.lavanda {
    position: absolute; 
    z-index: 2;
    height: 400px;
    top: 0%;
    left: 90%;
    transform: translateY(-50%);
    background-color: transparent;
    box-shadow: none;
}