.container {
    display: flex;
    height:calc(100vh - 64px);  
    background-color: #7e6b9f;
    justify-content: center;
    align-items: center;
    padding:0
}

.description { 
    font-style: italic;
}

* {
    color: white;  /* Color del texto */
    text-shadow: 
      0.5px 0.5px 4px #FF9A8B,
      -0.5px -0.5px 4px #FF9A8B,
      0.5px -0.5px 4px #FF9A8B,
      -0.5px 0.5px 4px #FF9A8B; 
    font-family: "Raleway", serif;

}

h1 { 
    font-size: 7rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Chewy', sans-serif;
    letter-spacing: 3px; 
    margin-top: 0%;
}

h2 { 
    font-size: 5rem;
    margin-bottom: 0;
    text-align: center;
    font-family: "Roboto", serif;
}

h3 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Roboto", serif;
}

.container-derecha, .container-izquierda {
    justify-content: center; 
    align-items: center; 
}

.container-derecha {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.container-izquierda {
    flex: 0;
    position: relative;
    left: 20%;
    top: -5%
}

.welcome { 
    margin: 0px
}