.navbar-container{ 
    background-color: #8c6c95;
    align-items: center;
    padding: 5px;
}


.navbar-elements{
    display: flex;
    flex-direction: row;
}

.navbar-elements-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 70%;
    margin-top: 16px;
}
