.navbar-container{ 
    background-color: #7e6b9f;
    align-items: center;
    padding: 5px;
}

.navbar-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-elements-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.circle {
    width: auto; 
    height: 10px;
    justify-content: center;
    align-items: center; 
    background-color: #FF9A8B;
    padding: 10px;
}
